@inherits LayoutComponentBase

@* <AuthorizeView>
    <Authorized>
        <RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
            <RadzenHeader>
                <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
                    <RadzenColumn Size="9">
                        <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                    </RadzenColumn>
                    <RadzenColumn Size="1">
                        @context.User.Identity?.Name!
                    </RadzenColumn>
                    <RadzenColumn Size="2">
                        <CultureSelector />
                    </RadzenColumn>
                </RadzenRow>
            </RadzenHeader>
            <RadzenSidebar @bind-Expanded="@sidebarExpanded">
                   <NavMenu />
            </RadzenSidebar>
            <RadzenBody id="scrollableContent">
                <div class="rz-p-4">
                    @Body
                </div>
            </RadzenBody>
        </RadzenLayout>
    </Authorized>
    <NotAuthorized>
         <RedirectToLogin/>
    </NotAuthorized>
</AuthorizeView>
 *@

<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    <RadzenHeader>
        <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start">
            <RadzenColumn Size="10">
                <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            </RadzenColumn>
            <RadzenColumn Size="2">
                <CultureSelector />
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <NavMenu />
    </RadzenSidebar>
    <RadzenBody id="scrollableContent">
        @Body
    </RadzenBody>
</RadzenLayout>

<RadzenComponents @rendermode="InteractiveAuto" />

@code {
    bool sidebarExpanded = true;
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
