@page "/LazyShop/{category:int}/{subCategory:int?}"
@page "/LazyShop/filters/{filters:int?}"
@* @page "/LazyShop/favorite/{category:int}" *@
@using System.Globalization
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@inject ContextMenuService ContextMenuService
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Radzen.Blazor.Rendering
@rendermode InteractiveAuto
@inject DialogService DialogService
@inject ProtectedLocalStorage ProtectedLocalStorage
@inject NotificationService NotificationService

<PageTitle>LazyShop</PageTitle>

@if (store.products != null)
{
    var filteredProducts = store.products;

    if (navigationManager.Uri.Contains("favorite"))
    {
        filteredProducts = store.products.Where(p => p.IsFavorite).ToList();
    }
    
    @foreach (var productRow in filteredProducts.Chunk(3))
    {
        <RadzenRow AlignItems="AlignItems.Center" Gap="1rem">
            @foreach (var product in productRow.Select((value, index) => (value, index)))
            {
                <RadzenColumn>
                    <RadzenCard class="rz-my-4 rz-mx-auto card-hover" Style="height:250px;">
                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End">
                            @if (product.value.IsFavorite)
                            {
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="favorite_border" Size="ButtonSize.ExtraSmall" Click="() => ToggleFavorite(product.value)" />
                            }
                            else
                            {
                                <RadzenButton ButtonStyle="ButtonStyle.Base" Icon="favorite_border" Size="ButtonSize.ExtraSmall" Click="() => ToggleFavorite(product.value)" />
                            }
                        </RadzenStack>

                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" class="rz-p-4">
                            <RadzenImage Path="@product.value.ThumbnailUrl" Style="width: 100px; height: 100px;" />
                            <RadzenStack Gap="0">
                                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Product Name</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body1">
                                    <b>@(product.value.Name)</b>
                                </RadzenText>
                                <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Price</RadzenText>
                                <RadzenText TextStyle="TextStyle.Body1">
                                    @if(string.IsNullOrEmpty(product.value.SalePriceText))
                                    {
                                        <a>@(product.value.PriceText)</a>
                                    }
                                    else
                                    {
                                        <del>@(product.value.PriceText)</del>
                                        <a>@(product.value.SalePriceText)</a>
                                    }
                               </RadzenText>
                            </RadzenStack>
                        </RadzenStack>
                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0">
                            <RadzenButton Variant="Variant.Text" class="rz-text-secondary-color" Text="商品內容" Click="() => GetProductItems(product.value)" />
                            <RadzenButton Variant="Variant.Text" Text="網站連結" Click="() => HandleProductClick(product.value)"/>
                        </RadzenStack>
                    </RadzenCard>
                </RadzenColumn>
            }
        </RadzenRow>
    }
}

@code {
    [Parameter]
    public int category { get; set; }
    [Parameter]
    public int subCategory { get; set; }
    [Parameter]
    public int filters { get; set; }

    private int previousCategory;
    private int previousSubCategory;
    private int previousFilters;

    private StoreVM store = new StoreVM();
    private List<ProductItem> productItemList = new List<ProductItem>();
    private List<RadzenButton> buttons = new List<RadzenButton>();

    private int offset = 0;
    private int limit = 40;
    private bool isInitialized = false;
    private DotNetObjectReference<LazyShop> objRef;
    private Popup? popup;

    protected override async Task OnInitializedAsync()
    {
        if (store.products == null)
        {
            store.products = new List<Product>();
            await LoadProducts();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (category != previousCategory || subCategory != previousSubCategory || filters != previousFilters)
        {
            previousCategory = category;
            previousSubCategory = subCategory;
            previousFilters = filters;
            offset = 0;
            store?.products?.Clear();
            await LoadProducts();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            objRef = DotNetObjectReference.Create(this);
            await jsRuntime.InvokeVoidAsync("initScrollDetection", objRef, "scrollableContent");
        }
    }

    private async Task HandleProductClick(Product product)
    {
        var url = $"https://store.finalfantasyxiv.com/ffxivstore/{CultureInfo.CurrentCulture.Name}/product/{product.Id}";
        await jsRuntime.InvokeVoidAsync("open", url, "_blank");
    }

    private async Task GetProductItems(Product product)
    {
        if (product.items != null) return;
        var requestUri = $"https://api.store.finalfantasyxiv.com/ffxivcatalog/api/products/{product.Id}?lang=en-us&currency=USD";
        var result = await httpClient.GetFromJsonAsync<ProductVM>(requestUri);

        if (result != null && result.product != null)
        {
            product.items = result.product.items;
        }

        var dialogResult = await DialogService.OpenAsync("商品內容", ds =>
        @<RadzenStack Gap="1.5rem">
        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                        Data="@product.items" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single">
                <Columns>
                    <RadzenDataGridColumn Property="@nameof(ProductItem.name)" Filterable="false" Title="Name" Frozen="true" Width="100px" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn Title="連結" Frozen="true" Sortable="false" Filterable="false" Width="80px" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <RadzenLink Path="@data.uriKey" Target="_blank" Text="官方連結" />
                        <RadzenLink Path="@($"https://ff14.huijiwiki.com/wiki/ItemSearch?name={data.name}")" Target="_blank" Text="灰機連結" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenStack>
    );

    }

    private async Task ToggleFavorite(Product product)
    {
        var list = await ProtectedLocalStorage.GetAsync<List<FavoriteProduct>>("favorite");
        var storageList = list.Success ? list.Value : new List<FavoriteProduct>();

        if (product.IsFavorite)
        {
            storageList.RemoveAll(p => p.Id == product.Id);
            await ProtectedLocalStorage.SetAsync("favorite", storageList);
        }
        else
        {
            storageList.Add(new FavoriteProduct { Id = product.Id, Name = product.Name, Image = product.ThumbnailUrl });
            await ProtectedLocalStorage.SetAsync("favorite", storageList);
        }

        product.IsFavorite = !product.IsFavorite;

        NotificationService.Notify(new NotificationMessage
        {
            Severity = product.IsFavorite ? NotificationSeverity.Success : NotificationSeverity.Error,
            Summary = product.IsFavorite ? "已經加入我的最愛" : "已經移除我的最愛",
            Detail = product.Name,
            Duration = 4000
        });
    }

    [JSInvokable]
    public async Task LoadProducts()
    {
        var categoryID = category == 0 ? string.Empty : $"&categoryId={category}";
        var subCategoryID = subCategory == 0 ? string.Empty : $"&subCategoryId={subCategory}";
        var filtersID = filters == 0 ? string.Empty : $"&filters={filters}";
        var requestUri = $"https://api.store.finalfantasyxiv.com/ffxivcatalog/api/products/?lang={CultureInfo.CurrentCulture.Name}&currency=USD&limit={limit}&offset={offset}{categoryID}{subCategoryID}{filtersID}";
        var result = await httpClient.GetFromJsonAsync<StoreVM>(requestUri);
        if (result != null && result.products != null)
        {
            var favoriteList = await ProtectedLocalStorage.GetAsync<List<FavoriteProduct>>("favorite");

            if (favoriteList.Success)
            {
                result.products.ForEach(p => p.IsFavorite = favoriteList.Value.Any(f => f.Id == p.Id));
            }

            store.products?.AddRange(result.products);
            offset += 40;
        }
    }

    [JSInvokable]
    public async Task OnScrollToBottom()
    {
        await this.LoadProducts();
        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        await jsRuntime.InvokeVoidAsync("removeScrollListener", "scrollableContent");
        objRef?.Dispose();
    }
}

<style scoped>
    .rz-card {
        cursor : pointer;
    }

    .card-hover {
        transition: box-shadow 0.3s ease-in-out;
    }

    .card-hover:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
</style>


<script>
   window.initScrollDetection = (dotnetHelper, elementId) => {
        const element = document.getElementById(elementId);
        element.addEventListener('scroll', () => {
            if (element.scrollHeight - element.scrollTop <= element.clientHeight + 1) {
                dotnetHelper.invokeMethodAsync('OnScrollToBottom');
            }
        });
    };

    window.removeScrollListener = (elementId) => {
        const element = document.getElementById(elementId);
        element.removeEventListener('scroll', null);
    };
</script>